<!DOCTYPE html>
<html lang="en">
<head>
    <title>update form</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .container{
        border: 2px solid red;
        background-color: aqua;
    }
    a{
        color: crimson;
    }
    h2{
        text-align: center;
        color: red;
    }
</style>
<body>
<div class="container">
<div class="row">
    <div class="offset md-3 col md-6">
        <form method="POST">
             {%  csrf_token %}
             <h2>Please Update Your Details</h2>
             <label>enter product id</label>
             <input type="number" name=pid class="form-control">
             <label>enter new cost</label>
             <input type="number" name="pcost" class="form-control">
             <center>
                 <input  type="submit" value="update" class="btn  btn-success">
                 <input  type="reset" value="clear" class="btn  btn-danger">
             </center>
         </form>
        <center><a href="/#/">GoTo Home</a></center>

    </div>

</div>
</div>

</body>
</html>